.education-tittle {
    margin-top: 2%;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    font-size: 1.3rem;
    font-weight: 500;
}

.formacao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}

.instituicao {
    border: 3px solid var(--cor-terciaria);
    padding: 10px;
    width: 200px;
    height: 200px;
}

.instituicao h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    font-size: 0.6rem;
    height: 800;
    margin-bottom: 5px;
}

.instituicao p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 0.6rem;
    height: 800;
}

.instituicao_imagem {
    margin-left: 13%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 150px;
    height: 100px;
}

.cursos {
    border: 3px solid var(--cor-terciaria);
    padding: 10px;
    width: 200px;
    height: 300px;
}

.cursos_imagem {
    margin-left: 22%;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 100px;
    height: 100px;
}

.cursos h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 6%;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    font-size: 0.6rem;
    height: 800;
    margin-bottom: 5px;
}